---
import { getPosts } from "../helpers/getPosts";
import Picture from "./Picture.astro";

const posts = getPosts().slice(0, 4);
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div class="flex flex-col mb-6 lg:justify-between lg:flex-row md:mb-8">
    <a
      href="/blog"
      class="link px-0 max-w-lg mb-2 font-sans text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none lg:mb-5 group item-center flex-row"
    >
      <span class="inline-block mb-1">My latest blog posts</span>
    </a>
  </div>

  <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4 -mb-6">
    {
      posts.map((post) => (
        <article class="mb-6 transition">
          <a href={post.url} rel="prefetch" class="p-0 group flex-col">
            <Picture
              src={post.frontmatter.heroImage}
              class="object-cover w-full h-64 mb-6 rounded shadow-lg group-hover:ring-4 group-hover:ring-sky-400 dark:group-hover:ring-sky-500 transition duration-300"
              widths={[400]}
              alt={post.frontmatter.title}
              aspectRatio="16:9"
            />

            <h3 class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading group-hover:text-sky-500 dark:group-hover:text-sky-400 duration-300">
              {post.frontmatter.title}
            </h3>
          </a>
          <p class="text-gray-700 dark:text-gray-400">{post.frontmatter.description}</p>
        </article>
      ))
    }
  </div>
</section>
