---
import Picture from "../components/Picture.astro";
import PostTags from "../components/PostTags.astro";
import { formatDate } from "../helpers/formatDate";
import type { IPostFrontmatter } from "../helpers/frontmatter";
import PageLayout from "../layouts/PageLayout.astro";

interface Props {
  content: IPostFrontmatter;
}

const {
  content: { title, description, pubDate, heroImage, url, readingTime, file, tags },
} = Astro.props as Props;

const tweetLink = `https://twitter.com/intent/tweet?url=
 ${encodeURIComponent(Astro.request.url)}
&text=${encodeURIComponent(`I just read "${title}" by @notdavidhu\n\n`)}`;

const fileExtension = file.split(".").pop();

const githubLink = `https://github.com/davidhu2000/davidhu2000.github.io/blob/main/src/pages${url}.${fileExtension}`;
---

<PageLayout meta={{ title, description, image: heroImage }}>
  <main>
    <section class="py-8 sm:py-16 lg:py-20 mx-auto">
      <article>
        <header>
          <p class="max-w-3xl mx-auto text-center">
            <time datetime={pubDate}>{formatDate(pubDate)}</time> ~ {readingTime}
          </p>

          <h1
            class="px-4 sm:px-6 max-w-3xl mx-auto text-center text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-6"
          >
            {title}
          </h1>

          <PostTags tags={tags} class="flex justify-center" />
        </header>

        <Picture
          src={heroImage}
          class="max-w-full lg:max-w-6xl mx-auto mt-4 mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt="Blog Hero Image"
          aspectRatio="16:9"
        />

        <div
          class="container mx-auto px-4 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
        >
          <slot />
        </div>

        <footer class="max-w-3xl mx-auto mt-4 mb-6 px-4 sm:px-6 flex">
          <a class="link px-0" target="_blank" rel="noreferrer noopener" href={tweetLink}>
            Tweet this article
          </a>

          <a class="link px-0 ml-8" target="_blank" rel="noreferrer noopener" href={githubLink}>
            Edit on github
          </a>
        </footer>
      </article>
    </section>
  </main>
</PageLayout>
