---
import { Image } from "astro:assets";
import PostTags from "../components/PostTags.astro";
import { formatDate } from "../helpers/formatDate";
import PageLayout from "../layouts/PageLayout.astro";
import { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">;
const post = Astro.props;

console.log(Astro.props);

const tweetLink = `https://twitter.com/intent/tweet?url=
 ${encodeURIComponent(Astro.request.url)}
&text=${encodeURIComponent(`I just read "${post.data.title}" by @notdavidhu\n\n`)}`;

console.log(post);
const fileExtension = post.id.split(".").pop();

const githubLink = `https://github.com/davidhu2000/davidhu2000.github.io/blob/main/src/pages${url}.${fileExtension}`;

const posts = [];

const currentPostIndex = posts.findIndex(
  (post) => post.frontmatter.title === title && post.frontmatter.description === description
);

posts.splice(currentPostIndex, 1);

const otherPosts = posts.slice(-3);
---

<PageLayout
  meta={{ title: post.data.title, description: post.data.description, image: post.data.heroImage }}
>
  <main>
    <section class="py-8 sm:py-16 lg:py-20 mx-auto">
      <article>
        <header>
          <p class="max-w-3xl mx-auto text-center">
            <time datetime={pubDate}>{formatDate(pubDate)}</time> ~ {readingTime}
          </p>

          <h1
            class="px-4 sm:px-6 max-w-3xl mx-auto text-center text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-6"
          >
            {title}
          </h1>

          <PostTags tags={tags} class="flex justify-center" />
        </header>

        <Image
          src={heroImage}
          alt="Blog Hero Image"
          class="max-w-full lg:max-w-6xl mx-auto mt-4 mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
        />

        <div
          class="container mx-auto px-4 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
        >
          <slot />
        </div>

        <footer class="max-w-3xl mx-auto mt-4 mb-6 px-4 sm:px-6 flex">
          <a class="link px-0" target="_blank" rel="noreferrer noopener" href={tweetLink}>
            Tweet this article
          </a>

          <a class="link px-0 ml-8" target="_blank" rel="noreferrer noopener" href={githubLink}>
            Edit on github
          </a>
        </footer>

        <figure
          class="mx-auto max-w-3xl px-6 py-4 italic bg-neutral-100 text-gray-500 dark:text-white border-neutral-500 dark:bg-gray-800"
        >
          <p class="font-bold">More you say? Here you go:</p>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            {
              otherPosts.map((post, index) => (
                <a
                  href={post.url}
                  class={`mt-2 pointer link group duration-300 flex-col md:block text-center ${
                    index === otherPosts.length - 1 ? "hidden" : ""
                  }`}
                >
                  <Image
                    src={post.frontmatter.heroImage}
                    alt="Next Blog Hero Image"
                    class="rounded-md bg-gray-400 dark:bg-slate-700 group-hover:ring-4 group-hover:ring-sky-400 dark:group-hover:ring-sky-500 transition ease-in duration-300"
                  />
                  <span class="block mt-2">{post.frontmatter.title}</span>
                </a>
              ))
            }
          </div>
        </figure>
      </article>
    </section>
  </main>
</PageLayout>
